# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
crash.log
override.tf
override.tf.json
*.tfvars     # if you have secrets in tfvars

# Kubernetes / Helm
*.kubeconfig
*.yaml.swp
*.lock
helm-charts/

# Docker
docker-compose.override.yml
Dockerfile.dev
*.log
*.tmp

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Others
*.bak
*.tmp
