grafana:
  service:
    type: NodePort
    nodePort: 32000
  adminUser: admin
  adminPassword: prom-operator

prometheus:
  prometheusSpec:
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}
    podMonitorSelector: {}
    podMonitorNamespaceSelector: {}
